/*body {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    background-color: #fff;*/
/*}*/

/*div {*/
/*    border: 1px solid blue;*/
/*    box-sizing: border-box;*/
/*}*/

.footer {
    /*width: 768px;*/
    max-width: 768px;
    width: 100%;
    margin: auto;
    height: auto;
    position: relative;
    background-color: seagreen;
    color: yellowgreen;
}

.footer .company_info {
    width: 100%;
    height: 100%;
}

.footer .company_info p {
    font-size: 13px;
    text-align: center;
    padding-top: 10px;
}

.githubLogo {
    width: 22px;
    height: 22px;
}