@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family: 'IBM Plex Sans KR', sans-serif;
}

/*font-family: 'IBM Plex Sans KR', sans-serif;*/

div {
    border: 1px solid yellowgreen;
    box-sizing: border-box;
}

.header {
    width: 360px;
    margin: auto;
    height: 56px;
    position: relative;
}

.header .logo_area {
    position: relative;
    height: 56px;
    width: 360px;
    margin: auto;
    padding-top: 20px;
    background-color: forestgreen;
    color: lightgreen;
}

.header .logo_bg {
    position: relative;
    margin: auto;
    width: 50%;
    height: 100%;
    background-color: forestgreen;
    float: left;
}

.logo_k {
    font-weight: bold;
    font-size: large;
    color: lightgreen;
}

.logo_k a {
    text-decoration: none;
    color: lightgreen;
    font-size: 22px;
}

.logo_k a:hover {
    color: greenyellow;
    font-size: 22px;
    font-weight: bolder;
}

/*.header .logo_k {*/
/*    font-size: 40px;*/
/*    padding-top: 25px;*/
/*    margin-left: 300px;*/
/*    font-weight: bolder;*/
/*    margin-bottom: 0px;*/
/*    padding-bottom: 0px;*/
/*    color: rgb(182, 238, 86);*/
/*}*/

/*.header .logo_e {*/
/*    margin-top: 0px;*/
/*    font-size: 15px;*/
/*    margin-left: 410px;*/
/*    font-weight: bolder;*/
/*    color: rgb(182, 238, 86);*/
/*}*/

.service_area {
    margin: auto;
}

.service_area a {
    text-decoration: none;
    color: black;
    font-size: 13px;
}

.service_area a:hover {
    color: rgb(182, 238, 86);
    font-size: 14px;
    font-weight: bolder;
}

.group_navi {
    position: relative;
    width: 360px;
    margin: auto;
    height: 40px;
    border: 1px solid yellowgreen;
}

.list_navi {
    font-size: 15px;
    font-weight: 600;
    list-style: none;
    display: block;
}

.navi_item {
    display: inline-block;
    width: 30%;
    text-align: center;
    position: relative;
    /*padding-top: 8px;*/
}

.navi:hover {
    color: rgb(255, 163, 63);
    font-weight: bolder;
}

.list_navi a {
    display: block;
    text-decoration: none;
    color: black;
}

.list_navi > li > a:hover {
    display: block;
}