@charset "UTF-8";

body {
    font-family: 'Noto Sans KR', sans-serif;
}

div {
    border: 1px solid green;
    box-sizing: border-box;
}

/* 전체 영역 */
.outer {
    border: 1px solid green;
    width: 360px;
    margin: auto;
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'IBM Plex Sans KR', sans-serif;
}

#my-plans-summary {
    border: 1px yellow;
    background-color: lightgreen;
}

.mainCheck {
    vertical-align: top;
}

.boldFont {
    font-weight: bold;
}

.smallerLetters {
    font-size: small;
}

.greenBtn {
    background-color: rgb(182, 238, 86);
}

.orangeBtn {
    background-color: rgb(255, 163, 63);
    color: white;
}

.grayBtn {
    background-color: gray;
    color: white;
}