div {
    border: 1px solid green;
    box-sizing: border-box;
}

/* 전체 영역 */
.outer {
    border: 1px solid green;
    width: 360px;
    margin: auto;
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

#my-plans-summary {
    border: 1px yellow;
    background-color: lightgreen;
}